

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Outer div form */
.form-input {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid coral;
}