@import url('https://fonts.googleapis.com/css2?family=Comme:wght@50;100;300;400;500;600;700&display=swap');


:root {
    --font-color: #fff;
    --background-color: #e7f1fa;
    --background-color-2: rgb(93, 140, 227);
    --background-color-3: linear-gradient(142deg, rgba(93, 140, 227, 1) 0%, rgb(130, 224, 239) 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Comme';
    background: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    height: 80vh;
    min-width: 260px;
    margin: 80px 0 0 0;
    border-radius: 20px;
    box-shadow: -2px 2px 4px 4px rgba(255,255,255, 35%);
    background: var(--background-color-3);
    color: var(--font-color);
}

.form-input {
    display: flex;
    position: absolute;
}

.icon-temp-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 1rem 0;
}

.temp {
    font: red;
    font-size: 4em;
    font-weight: lighter;
}

#description {
    margin: 15px 0 0 0;
}

.description {
    font-size: 1em;
    font-weight: 100;
}

.temp-signal {
    font-size: .75em;
    margin: 10px 0 0 0;
    float: right;
}

.city {
    font-size: 1.5em;
    font-weight: lighter;
}

.entry-holder {
    position: absolute;
    top: 520px;
    margin: -200px 0 0 0;
}

.local-date-group {
    margin: 30px 0 0 0;
    padding: 0 15px;
}

#date {
    margin: 10px 0 0 0;
    font-size: .65em;
}

.form-input {
    text-align: center;
}

.weather-form {
    position: absolute;
    top: 280px;
    width: fit-content;
    margin: -150px 0 0 0 ;
}

.zip-code-input {
    border: 1px solid var(--background-color-2);
    border-radius: 4px;
    background-color: var(--background-color);
    color: rgb(24, 24, 24);
    font-family: 'Comme';
    margin-bottom: 16px;
    outline: none;
}

input:placeholder-shown {
    font-size: .8em;
}

#feelings {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

textarea {
    resize: vertical;
    padding: 4px;
    border: 1px solid var(--background-color-2);
    border-radius: 4px;
    background-color: var(--background-color);
    color: rgb(24, 24, 24);
    font-family: 'Comme';
    margin-bottom: 16px;
    resize: none;
    outline: none;
}

.generate-button {
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    background-color: var(--background-color-2);
    color: var(--font-color);
    font-family: 'Comme';
    cursor: pointer;
}

.generate-button:hover {
    background-color: var(--background-color-3);
}